<div id="user_info">
    <h3 th:text = "${user.nickname}" />
    <div id="description">
        <div class="title">
            <h4>Обо мне</h4>
        </div>
        <div class = "text">
            <p th:text = "${user.description}" />
        </div>
    </div>


    <div class="buttonBlock">
        <button onclick="changeDescriptionInfo()">изменить</button>
    </div>

    <form id="logout" th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
