<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link href="/signup_page.css" rel="stylesheet">
<body>


<div class = "head">
    <h1>Dead Journal</h1>
</div>


<div id = "authorization">
    <form id="data" action="signup" method="post">

        <div id = "login">
            <input type="text" th:name="email" placeholder="почта">
        </div>

        <div id = "password">
            <input type="text"  th:name="password"  th:placeholder="пароль">
        </div>

        <div id = "nickname">
            <input type="text"  th:name="nickname" placeholder="ник">
        </div>

    </form>

    <div id="button_block">
        <div>
            <input form="data" type="submit" value="Зарегистрироваться" th:method="post" />
        </div>
    </div>
</div>

</body>
</html>
