<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link href="/personal_blog.css" rel="stylesheet">


<div id = "block_container">
    <div id="blogs">
        <ul>
            <li >
                <h3 class="title">Что вы знаете о процессах?</h3>
                <text class = "short_description">
                    Большая статья о современных методах мульпроцессирования
                </text>
            </li>

            <li >
                <h3 class="title" onclick="goToArticle()">Что вы знаете о процессах?</h3>
                <text class = "short_description">
                    Большая статья о современных методах мульпроцессирования
                </text>
            </li>


        </ul>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/personal_blog.js"></script>
