body{
    padding-left: 30px;
}

#title_head{
    margin-top: 50px;
}

#publishButton{
    margin-top:25px;
}

#back_button button{
    margin-top: 15px;
}

#title{
    margin-top: 40px;
}

#full_text textarea{
    margin-top:20px;
    width:400px;
    height:100px
}

#description textarea{
    width:400px;
    height:50px
}