
body{
    padding-left: 30px;
}

#title_head{
    margin-top: 50px;
}
#block_container{
    margin-top: 50px;
}

#title_head span {
    margin-right: 15px;
    font-size: 20px;
}

#description .title{
    margin-top: 40px;
}

#description{
    margin-bottom: 30px;
}
#logout{
    margin-top:80px;
}

#logout input{
    background-color: white;
    border: 1px dashed #e80308;
    border-radius: 5px;
}

#title_head span:hover {
    text-decoration: underline;
    color: rgba(9, 35, 201, 0.82)
}

#friends_block{
    margin-left: -25px;
}