
body{
    padding-left: 30px;
}

#title_head{
    margin-top: 70px;
}
#block_container{
    margin-top: 50px;
}

#back_button span {
    margin-right: 15px;
    font-size: 20px;
}

#description .title{
    margin-top: 40px;
}

#description{
    margin-bottom: 30px;
}


#back_button span:hover {
    text-decoration: underline;color: rgba(9, 35, 201, 0.82)

}
#back_button{
    margin-top:60px;
}


#blogs{
    margin-top:40px;
}

#blogs ul{
    margin-left: -23px;
}

#blogs a{
    color: black;
}

.highlighted{
    text-decoration: underline;
    color: rgba(26, 26, 26, 0.99)
}