
body{
    padding-left: 30px;
}

#title_head{
    margin-top: 50px;
}
#friends{
    margin-top: 50px;
    margin-left:-20px;
}

#title_head span {
    margin-right: 15px;
    font-size: 20px;
}

#description .title{
    margin-top: 40px;
}

#description{
    margin-bottom: 30px;
}

#title_head span:hover {
    text-decoration: underline;
    color:rgba(54,81,201,0.82)
}